{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
        <h2>Welcome to the service page.</h2>
        <div id="service" class="d-flex p-2 bd-highlight">
            <div id="getInTouch" style="width: 30%;">
                <h5 style="border-left: 0.5rem solid rgb(13, 255, 13); padding-left: 2rem;">GET IN TOUCH</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore quidem beatae repellat magnam
                    sapiente animi, esse commodi. Veritatis itaque nesciunt a maxime dolorem ducimus, unde eos nobis
                    explicabo blanditiis non.</p>
                <p>Street name 123, Avanue abc</p>
                <p>info@pixsellz.io</p>
                <p>+879-332-9375 </p>
            </div>
            <div id="quicklinks" style="width: 20%; margin-right: 5%;">
                <h5 style="border-left: 0.5rem solid rgb(13, 255, 13); padding-left: 2rem;">QUICK LINKS</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Home</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>About Us</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Our Services</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Meet The Team</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Latest Blog</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Contact Us</li>
                </ul>
            </div>
            <div id="popularlinks" style="width: 20%; margin-right: 5%;">
                <h5 style="border-left: 0.5rem solid rgb(13, 255, 13); padding-left: 2rem;">POPULAR LINKS</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Home</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>About Us</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Our Services</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Meet The Team</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Latest Blog</li>
                    <li class="list-group-item"><i class="fa-solid fa-arrow-right" style="color: #74C0FC; margin-right: 10px;"></i>Contact Us</li>
                </ul>
            </div>
            <div id="newsletter" style="width: 30%;">
                <h5 style="border-left: 0.5rem solid rgb(13, 255, 13); padding-left: 2rem;">NEWS LETTER</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Your Email"
                        aria-label="Your Email" aria-describedby="button-addon2">
                        <button class="btn btn-outline-success" type="button" id="button-addon2">Sign Up</button>
                </div>
                <h6>FOLLOW US</h6>
                <i class="fa-brands fa-square-x-twitter fa-2xl" style="margin-right: 5px;"></i><i class="fa-brands fa-square-facebook fa-2xl" style="color: #3465a4; margin-right: 5px;"></i><i class="fa-brands fa-square-instagram fa-2xl" style="color: #f03d94; margin-right: 5px;"></i><i class="fa-brands fa-linkedin fa-2xl" style="color: #4067bf;"></i>
            </div>
        </div>
    </div>
</section>
{% endblock %}